@font-face {
	font-family: 'GraphikMedium';
	src: url('Graphik-Medium.otf');
}

body {
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #f8f8f9;
    font-family: GraphikMedium;
}

.well {
    background-color: #f8f8f9;
}

.sidebar-nav-fixed {
    width:20%;
}

.affix {
	padding-top: 100px;
}

.black {
	background-color: black;
	color: white;
}

.beige {
	background-color: #f1d8a8;
}

.overlay {
  display: none; 
  position: absolute;
  top:0px; 
  background-color: #f8f8f9;
  width: 100%;
  height: 100%;
  white-space: nowrap;
    
    text-align: center;
}

.overlay img {
  width: 100%;
  vertical-align: middle;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}